/* p {
    color: red;
} */

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.logged-in {
    color: rgb(38, 255, 0);
}
  
.logged-out {
color: red;
}